# Node modules
node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Vite cache
.vite/

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Coverage
coverage/
