.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__content {
  font-size: 18px;
  line-height: 1.6;
  color:#111827;
}

.text-type__cursor {
  margin-left: 6px;
  font-weight: bold;
}
.text-type .text-type__content {
  color: #111827 !important;
}
